/** Admin **/

.adinsider {
    width: 340px;
    background-color: transparent;
    margin: 0 auto 15px auto;
    padding: 5px;
    border: 1px solid;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

.hidden {
    display: none;
}

/***** Exinaus ******/
.table-borders tbody td {
  border: 0px !important;
  border-collapse: collapse !important;
  margin: 0px !important;
}
.tablesorter-header-inner {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}
.ui-tabs-panel {
  padding: 0px !important;
}
.ui-button {
    border-radius: 4px 4px 4px 4px !important;
}
.col_red, .col_red a:link,.col_red a:visited, .col_red a:hover, .col_red a:active {
    color: #800000 !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_grey, .col_grey a:link,.col_grey a:visited, .col_grey a:hover, .col_grey a:active {
    color: slategray !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_blue, .col_blue a:link,.col_blue a:visited, .col_blue a:hover, .col_blue a:active {
    color: royalblue !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_green, .col_green a:link,.col_green a:visited, .col_green a:hover, .col_green a:active {
    color: green !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_black, .col_black a:link,.col_black a:visited, .col_black a:hover, .col_black a:active {
    color: #FF8000 !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
/* main */
table.tablesorter tbody tr.dark-row td {
  background: #444;
  color: #ddd;
}
table.tablesorter tbody tr.dark-row a:link, table.tablesorter tbody tr.dark-row a:visited {
  color: #ddd;
}
table.tablesorter tbody tr.light-row td {
  background: #ccc;
}
.tabsmenu {
  background-image: none !important;
  background-color: inherit !important;
  padding: 0.2em !important;
  width: 200px !important;
}
label.error {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 5px;
  vertical-align: top;
  position: absolute;
  display: inline;
  font-size: 0.8em !important;
}

html, body {margin:0; padding:0; width:100%; height:100%;}
img { border:0px; }

div { padding: 2px 0 2px 0; }
table .tablesorter { margin: 20px 0 0 0; }
.ui-widget { font-size: 0.9em !important; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 0.9em !important; }
.ui-buttonset .ui-button { margin-top: .3em; margin-right: 0 !important; }
.ui-dialog-titlebar-close .ui-icon { position: absolute; left: 0; top:0; margin: 0px !important; }
.tablesorter-icon { position: absolute; top: 15%; right: 0px; }
.ui-tabs .ui-tabs-nav, .ui-widget-overlay {padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: none !important; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { text-align:right; }
.ui-tooltip { max-width: 400px;  !important; }

.div4settings{
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  white-space:nowrap;
}
.settingsLine {
  border-bottom: 1px dotted grey;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.settingsLine:last-child {
  border-bottom: 0px;
}
.settingsLine div {
  display: inline-block; *display:inline;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  white-space:nowrap;
}
.settingsLine div:first-child {
  width: 300px;
  white-space: pre-line; 
}
.settingsLine div:last-child {
  min-width: 600px;
}
.gk-icon {
  width: 24px;
  height: 24px;
  background-image: url(../images/province_types.png);
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: auto auto;
  display: inline-block;
  margin: 0px;
  margin-left: 3px;
  padding: 0px;
  vertical-align: middle;
}
.gk-gold {
    background-position: 0 0;
}
.gk-start {
    background-position: -24px 0;
}
.gk-normal {
    background-position: -48px 0;
}
.gk-def {
    background-position: -72px 0;
}
.fixed-menu {
  text-align: left;
  width: 400px;
  font-size: 12px;
  padding: 10px;
  margin:10px;
}
/* try to minimize load data*/
.amh { text-align: center; }
.spcl {text-align: center, font-weight: bold; }
.all {text-align: center;min-width: 30px;}
.clan {text-align: center;min-width: 30px;}
.company {text-align: center;min-width: 30px;}
.bb {cursor: pointer;}

/* new tab */
.a_num {
    position:absolute; 
    bottom:1px; 
    padding:0px 3px; 
    text-align:center; 
    right:1px; 
    min-width:18px; 
    color: black; 
    border:1px solid black;
    font-size:10px;
}
.medalDiv {
    text-align:center;
    width:70px; 
    height:75px; 
    *display:inline; 
    *float:left;
    display:inline-block; 
    margin:5px; 
    position:relative;
}
.clanDiv {
    text-align:center;
    *display:inline; 
    *float:left;
    display:inline-block; 
    margin:5px; 
    position:relative;
    vertical-align: top;
}
.faded {
    opacity:0.4;
    filter: alpha(opacity=40);
}
.medalContainer {
    border:1px solid #666; text-align:center;
}
.levelup {
    background:url(../images/upgrade.png) center center no-repeat;
    width:16px;
    height:16px;
    position:absolute;
    top:0;
    right:0;
}