/** Admin **/

.adinsider {
    width: 300px;
    background-color: transparent;
    margin: 0 auto 15px auto;
    padding: 5px;
    border: 1px solid;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

.hidden {
    display: none;
}

/***** Exinaus ******/
.table-borders tbody td {
  border: 0px !important;
  border-collapse: collapse !important;
  margin: 0px !important;
}
.tablesorter-header-inner {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}
.ui-tabs-panel {
  padding: 0px !important;
}
.ui-button {
    border-radius: 4px 4px 4px 4px !important;
}
.col_red, .col_red a:link,.col_red a:visited, .col_red a:hover, .col_red a:active {
    color: #800000 !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_grey, .col_grey a:link,.col_grey a:visited, .col_grey a:hover, .col_grey a:active {
    color: slategray !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_blue, .col_blue a:link,.col_blue a:visited, .col_blue a:hover, .col_blue a:active {
    color: royalblue !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_green, .col_green a:link,.col_green a:visited, .col_green a:hover, .col_green a:active {
    color: green !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
.col_black, .col_black a:link,.col_black a:visited, .col_black a:hover, .col_black a:active {
    color: #FF8000 !important;
    text-decoration:none;
    opacity: 1; filter:Alpha(Opacity=100);
}
/* main */
table.tablesorter tbody tr.dark-row td {
  background: #444;
  color: #ddd;
}
table.tablesorter tbody tr.dark-row a:link, table.tablesorter tbody tr.dark-row a:visited {
  color: #ddd;
}
table.tablesorter tbody tr.light-row td {
  background: #ccc;
}
.tabsmenu {
  background-image: none !important;
  background-color: inherit !important;
  padding: 0.2em !important;
}

html, body {margin:0; padding:0; width:100%; height:100%;}

div { padding: 2px; }
table .tablesorter { margin: 20px 0 0 0; }
.ui-widget { font-size: 0.9em !important; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 0.9em !important; }
.ui-buttonset .ui-button { margin-top: .3em; margin-right: 0 !important; }
.ui-dialog-titlebar-close .ui-icon { position: absolute; left: 0; top:0; margin: 0px !important; }
.tablesorter-icon { position: absolute; top: 15%; right: 0px; }
.ui-tabs .ui-tabs-nav, .ui-widget-overlay {padding: 0;!important; }
.ui-tabs .ui-tabs-nav li a { float: none !important; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { text-align:right; }