/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
  
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


/** Admin **/

.adinsider {
    width: 300px;
    background-color: transparent;
    margin: 0 auto 15px auto;
    padding: 5px;
    border: 1px solid;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

.hidden {
    display: none;
}

/***** Exinaus ******/
.ui-button {
    border-radius: 4px 4px 4px 4px !important;
}
.col_red {
color: #800000;
}

.col_red a:link {
color: #800000;
text-decoration:none;
}
.col_red a:visited {
color: #800000;
text-decoration:none;
}
.col_red a:hover {
color: #800000;
text-decoration:none;
}
.col_red a:active {
color: #800000;
text-decoration:none;
}

.col_grey {
color: slategray;
}

.col_grey a:link {
color: slategray;
text-decoration:none;
}
.col_grey a:visited {
color: slategray;
text-decoration:none;
}
.col_grey a:hover {
color: slategray;
text-decoration:none;
}
.col_grey a:active {
color: slategray;
text-decoration:none;
}


.col_blue {
color: royalblue;
}

.col_blue a:link {
color: royalblue;
text-decoration:none;
}
.col_blue a:visited {
color: royalblue;
text-decoration:none;
}
.col_blue a:hover {
color: royalblue;
text-decoration:none;
}
.col_blue a:active {
color: royalblue;
text-decoration:none;
}

.col_green {
color: green;
}

.col_green a:link {
color: green;
text-decoration:none;
}
.col_green a:visited {
color: green;
text-decoration:none;
}
.col_green a:hover {
color: green;
text-decoration:none;
}
.col_green a:active {
color: green;
text-decoration:none;
}

.col_black {
color: black;
}

.col_black a:link {
color: black;
text-decoration:none;
}
.col_black a:visited {
color: black;
text-decoration:none;
}
.col_black a:hover {
color: black;
text-decoration:none;
}
.col_black a:active {
color: black;
text-decoration:none;
}

/* main */
html { height:100%; }

body { margin:0; padding:0; height:100%; width: 100%; }

div { padding: 2px; }
table .tablesorter { margin: 20px 0 0 0;}

.ui-widget { font-size: 0.9em !important; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 0.9em !important; }
.ui-widget-header .ui-icon { position: absolute; top: 2px; right: 2px;}

.ui-tabs .ui-tabs-nav {padding: 0;!important;}
.ui-tabs .ui-tabs-nav li a { float: none !important; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: 0; padding-bottom: 0; text-align:right;}