/** Admin **/

.login_insider {
  width: 340px;
  background-color: transparent;
  margin: 0 auto 15px auto;
  padding: 0;
  border: 1px solid;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

.hidden {
  display: none;
}

/***** Exinaus ******/
.table-borders tbody td {
  border: 0px !important;
  border-collapse: collapse !important;
  margin: 0px !important;
}
.tablesorter-header-inner {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}
.ui-tabs-panel {
  padding: 0px !important;
}
.ui-button {
  border-radius: 4px 4px 4px 4px !important;
}
.col_red, .col_red a:link,.col_red a:visited, .col_red a:hover, .col_red a:active {
  color: #800000 !important;
  text-decoration:none;
  opacity: 1; filter:Alpha(Opacity=100);
}
.col_grey, .col_grey a:link,.col_grey a:visited, .col_grey a:hover, .col_grey a:active {
  color: slategray !important;
  text-decoration:none;
  opacity: 1; filter:Alpha(Opacity=100);
}
.col_blue, .col_blue a:link,.col_blue a:visited, .col_blue a:hover, .col_blue a:active {
  color: royalblue !important;
  text-decoration:none;
  opacity: 1; filter:Alpha(Opacity=100);
}
.col_green, .col_green a:link,.col_green a:visited, .col_green a:hover, .col_green a:active {
  color: green !important;
  text-decoration:none;
  opacity: 1; filter:Alpha(Opacity=100);
}
.col_black, .col_black a:link,.col_black a:visited, .col_black a:hover, .col_black a:active {
  color: #FF8000 !important;
  text-decoration:none;
  opacity: 1; filter:Alpha(Opacity=100);
}
/* main */

table.tablesorter tbody tr.dark-row td {
  background: #444;
  color: #ddd;
}
table.tablesorter tbody tr.dark-row a:link, table.tablesorter tbody tr.dark-row a:visited {
  color: #ddd;
}
table.tablesorter tbody tr.light-row td {
  background: #ccc;
}
.tabsmenu {
  background-image: none !important;
  background-color: inherit !important;
  padding: 0.2em !important;
  width: 200px !important;
}
label.error {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 5px;
  vertical-align: top;
  position: absolute;
  display: inline;
  font-size: 0.8em !important;
}

html, body {margin:0; padding:0; width:100%; height:100%;}
#allcontainer {min-height: 100%; width:100%; padding: 0; margin: 0; border: 0px inset black !important;}
img { border:0px; }

div { padding: 2px 0 2px 0; }
table .tablesorter { margin: 20px 0 0 0; }
.ui-widget { font-size: 0.9em !important; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 0.9em !important; }
.ui-buttonset .ui-button { margin-top: .3em; margin-right: 0 !important; }
.ui-dialog-titlebar-close .ui-icon { position: absolute; left: 0; top:0; margin: 0px !important; }
.tablesorter-icon { position: absolute; top: 15%; right: 0px; }
.ui-tabs .ui-tabs-nav, .ui-widget-overlay {padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: none !important; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { text-align:right; }
.ui-tooltip { max-width: 400px;  !important; }

.div4settings{
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  white-space:nowrap;
}
.settingsLine {
  border-bottom: 1px dotted grey;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.settingsLine:last-child {
  border-bottom: 0px;
}
.settingsLine div {
  display: inline-block; *display:inline;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  white-space:nowrap;
}
.settingsLine div:first-child {
  width: 300px;
  white-space: pre-line; 
}
.settingsLine div:last-child {
  min-width: 600px;
}
.gk-icon {
  width: 24px;
  height: 24px;
  background-image: url(../images/province_types.png);
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: auto auto;
  display: inline-block;
  margin: 0px;
  margin-left: 3px;
  padding: 0px;
  vertical-align: middle;
}
.gk-gold {
  background-position: 0 0;
}
.gk-start {
  background-position: -24px 0;
}
.gk-normal {
  background-position: -48px 0;
}
.gk-def {
  background-position: -72px 0;
}
.fixed-menu {
  text-align: left;
  width: 400px;
  font-size: 12px;
  padding: 10px;
  margin:10px;
}
/* try to minimize load data*/
.amh { text-align: center; }
.spcl {text-align: center, font-weight: bold; }
.all {text-align: center;min-width: 30px;}
.clan {text-align: center;min-width: 30px;}
.company {text-align: center;min-width: 30px;}
.bb {cursor: pointer;}

/* new tab */
.a_num {
  position:absolute; 
  bottom:1px; 
  padding:0px 3px; 
  text-align:center; 
  right:1px; 
  min-width:18px; 
  color: black; 
  border:1px solid black;
  font-size:10px;
}
.medalDiv {
  text-align:center;
  width:70px; 
  height:75px; 
  *display:inline; 
  *float:left;
  display:inline-block; 
  margin:3px; 
  position:relative;
}
.clanDiv {
  text-align:center;
  *display:inline; 
  *float:left;
  display:inline-block; 
  margin:5px; 
  position:relative;
  vertical-align: top;
}
.faded {
  opacity:0.4;
  filter: alpha(opacity=40);
}
.medalContainer {
  border:1px solid #666; text-align:center;
}
.levelup {
  background:url(../images/upgrade.png) center center no-repeat;
  width:16px;
  height:16px;
  position:absolute;
  top:0;
  right:0;
}
.droptrue li {
  border: 1px solid;
  margin: 4px auto;
  padding: 2px 4px;
  width: 180px;
  text-align: left;
  cursor: move;
  overflow: hidden;
  font-size: 12px;
}
.pl_list ul {
  list-style-type: none;
  min-height: 120px !important;
}
.rating_ico {
  background: url(../images/ratings_ico.png) no-repeat scroll 100% 0 transparent;
  display: inline-block;
  height: 34px;
  opacity: 0.9;
  vertical-align: middle;
}
.rating_ico_fb {
  background-position: 100% 0;
  width: 46px;
}
.rating_ico_survived_ratio {
  background-position: 100% -34px;
  width: 31px;
}
.rating_ico_wins_ratio {
  background-position: 100% -68px;
  width: 23px;
}
.rating_ico_frags_count {
  background-position: 100% -102px;
  width: 34px;
}
.rating_ico_db {
  background-position: 100% -136px;
  width: 41px;
}
.rating_ico_xp_avg {
  background-position: 100% -170px;
  width: 37px;
}
.rating_ico_hits_ratio {
  background-position: 100% -204px;
  width: 24px;
}
.rating_ico_spotted_count {
  background-position: 100% -238px;
  width: 26px;
}
.rating_ico_xp_max {
  background-position: 100% -272px;
  width: 23px;
}
.rating_ico_damage_dealt {
  background-position: 100% -306px;
  width: 28px;
}
.rating_ico_sb {
  background-position: 100% -340px;
  width: 40px;
}
.rating_ico_exp {
  background-position: 100% -374px;
  width: 24px;
}
.rating_ico_battles_count {
  background-position: 100% -408px;
  width: 20px;
}
.rating_ico_tlm {
  background-position: 100% -442px;
  width: 36px;
}
.rating_ico_global_rating {
  background-position: 100% -476px;
  width: 29px;
}
.rating_ico_cr {
  background-position: 100% -510px;
  width: 25px;
}
.rating_ico_eur {
  background-position: 100% -544px;
  width: 28px;
}
.rating_ico_egk {
    background-position: 100% -578px;
    width: 26px;
}
/* overall tab - ratings table*/
table.ratings_table td {
  border: 1px solid #444444;
  padding: 4px;
  vertical-align: middle;
  width: 100px;
}
table.ratings_table tr {
  font-weight: bold;
  text-align: center;
  height: 30px;
}
table.ratings_table {
  border-collapse: collapse;
}
table.ratings_table tbody {
  color: black;
}